* {
    margin: 0;
    padding: 0;
}


/* div {
    border: solid 1px red;
} */

#header {
    background-color: #FA8BFF;
    background-image: linear-gradient(90deg, #6b9dd3 00%, #110d5b 70%);
    /* background-size: 1px 100px; */
    background-position: 0 -10px;
    color: white;
    text-align: center;
}

#header h1 {
    font-size: 25px;
    padding: 7px;
}

.titles {
    font-size: 20px;
    font-weight: bold;
}

.list-item {
    line-height: 2;
    border: none;
}

span.low, span.medium, span.high, span.very-high {
    padding: 3px 7px;
    color: white;
    border-radius: 10%;
}

span.low {
    background-color: #1e7821;
}
span.medium {
    background-color: #e4e467;
}
span.high {
    background-color: #931616;
}
span.very-high {
    background-color: #911491;
}